@{
    ViewData["Title"] = "About";
}
<div class="row">
    <h1 class="col-sm-12">About Us</h1>
    <p class="col-sm-6">
        Welcome to the Future Value website. We are glad to have you here with us. We have been providing future value services for over 20 years now. Our site has changed quite a bit since the early days of the web, but we are estatic that you continue to choose us to this day! We here, value the future, and we even calculate it for you. So sit back, relax, and see what the future has in store for you!
    </p>
    <img src="~/img/about-us.jpg" alt="our team" class="col-sm-6 rounded-circle img-fluid" />
</div>