@{
    ViewData["Title"] = "Contact Us";
}
<h2>Future Value</h2>
<h3>We value the future, and so should you!</h3>

<address>
    123 Fairy Tale Lane<br />
    Traverse City, MI 49696<br />
    <abbr title="Phone">Phone:</abbr>
    555-555-5555
</address>

<address>
    <strong>Tech Support:</strong> <a href="mailto:futurevalue.org">tech@futurevalue.org</a><br />
    <strong>Sales/Marketing:</strong> <a href="mailto:sales@futurvalue.org">sales@futurevalue.org</a>
</address>